<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="projects.evenceteam.evence">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <application
        android:name="projects.evenceteam.evence.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/evence_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/evence_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="projects.evenceteam.evence.view.ui.ShareAppActivity"/>
        <activity android:name="teamevence.evenceapp.generateqrview.GenerateQR" />
        <activity android:name="teamevence.evenceapp.generateqrview.compose.NewEventActivity" />
        <activity
            android:name="projects.evenceteam.evence.view.ui.SplashscreenActivity"
            android:theme="@style/splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="projects.evenceteam.evence.view.ui.MainActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="projects.evenceteam.evence.view.ui.SettingsActivity"
            android:parentActivityName="projects.evenceteam.evence.view.ui.MainActivity" />
        <activity
            android:name="projects.evenceteam.evence.view.ui.AboutActivity"
            android:parentActivityName="projects.evenceteam.evence.view.ui.MainActivity" />
        <activity android:name="projects.evenceteam.evence.view.ui.SecondActivity" />
        <activity
            android:name="teamevence.evenceapp.fileselectview.FileSelectActivity"
            android:label="File Selector"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="text/calendar" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="projects.evenceteam.evence.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode, ocr"/>


    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.INSERT" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
        </intent>
    </queries>

</manifest>