<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="projects.csce.evence">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/evence_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/evence_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.ui.ShareAppActivity"/>
        <activity android:name="daniel.perez.generateqrview.GenerateQR" />
        <activity
            android:name=".view.ui.SplashscreenActivity"
            android:theme="@style/splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ui.MainActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".view.ui.SettingsActivity"
            android:parentActivityName=".view.ui.MainActivity" />
        <activity
            android:name=".view.ui.AboutActivity"
            android:parentActivityName=".view.ui.MainActivity" />
        <activity android:name=".view.ui.SecondActivity" />
        <activity
            android:name="daniel.perez.fileselectview.FileSelectActivity"
            android:label="File Selector">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="text/calendar" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="projects.csce.evence.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode, ocr"/>
    </application>

</manifest>